<div class="list-container">

  <div class="item">
    <h3 id="income">INCOME</h3>
      <div *ngFor="let budget of budgetList">
        <ng-container *ngIf="budget.amount > 0">
          <app-budget-detail [budget]="budget"></app-budget-detail>
        </ng-container>
      </div>
  </div>

  <div class="item">
    <h3 id="expenses">EXPENSES</h3>
      <div *ngFor="let budget of budgetList">
        <ng-container *ngIf="budget.amount < 0">
          <app-budget-detail [budget]="budget"></app-budget-detail>
        </ng-container>
      </div>
  </div>

</div>
